* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* PARA USAR MEDIDA REM DE MANERA RESPONSIVA */
    font-size:  62.5%;
}

body {
    background-color: #E5E5E5;
    width: 100vw;
}

       /* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vmax;
    
}

h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
    
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    padding: 16px 0 16px 0;
    gap: 32px;
    
    
}

.header-title {
    display: flex;
    flex-direction: row;
}

.header-title img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.header-title h2 {
    font-size: 2rem;
}

.header-nav-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.header-nav-container__item {
    list-style: none;
    font-size: 2rem;
    padding: 5px;
}
.header-nav-container__item a {
    text-decoration: none;
    color: #0066CC;
    cursor: pointer;
}

.header-nav-container__item a:hover {
    color:crimson;
}


        /* MAIN */


.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100vmax;
}



.presentation-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    padding: 32px;
    gap: 32px;
}


.presentation-contain {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    
}


.presentation-contain__p {
    font-size: 2.2rem;
    text-align: left;
    font-weight: 400;
    line-height: 26px;
}

.presentation-contain .presentation-socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 32px;
    
}

.presentation-socialMedia__item {
    padding: 15px;
    font-size: 1.6rem;
    font-weight: 500;
}

.presentation-socialMedia__item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

.presentation-btn {

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 1px solid #0066cc;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    transition : 569ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
    }
    
    .btn:hover{
    
    transition : 569ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 1px #0066cc;
    }




.presentation-contain__img {
    width: 368px;
    height: 368px;
    background-image: url("../img/profile_img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;

}

.about {
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap: 10px;
    background-color: #EAF2FD;
}

.about-contain {
    display: flex;
    flex-direction: column;
    width: 1136px;
    padding: 0px;
    gap: 16px;
}



.about p {
    font-size: 1.6rem;
    width: 65%;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
}

.skills {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}


.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    padding: 0px;
    gap: 32px;
}

.skills-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.skill-contain__item img{
    width: 176px;
    height: 174px;
    background-color: #fff;
}

.hobbies {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.hobbies h2 {
    padding-bottom: 30px;
}

.hobbies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    gap: 32px;
}

.hobbies-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 1136px;
}

.hobbies-contain__item img{
    width: 176px;
    height: 174px;
    background-color: #fff;
}

.formation {
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;
}

.formation h2 {
    padding-bottom: 35px;
}

.formation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    padding: 32px;
    gap: 32px;
}

.formation-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 368px;
    height: 347px;
}

.formation-contain__pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 286px;
    padding: 16px;
    gap: 10px;
    background-color: #ffffff;
}


.formation-contain__pic img {
    width: 190px;
    height: 130px;
}

.formation-contain p {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 26px;
}

.formation-contain span {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
}

.proyect {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #F5F5F5;
    padding: 32px;
 
}



.proyect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1136px;
    padding: 0px;
    gap: 32px;
}

.proyect-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1136px;
    gap: 16px;
}

.proyect-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    gap: 8px;

}

.proyect-description__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 26px;
}

.proyect-description__subtitle {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
}

.proyect-description-btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.proyect-description-btnContainer .btnRepo{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    color: #0066cc;
    background-color: #fff;
    padding: 10px 30px;
    border: solid #0066cc 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    transition : 698ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.proyect-description-btnContainer .btnRepo:hover{
    transition : 698ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    background-color: lightblue;
    color: #ffffff;
    border: solid 1px #0066cc;
}

.proyect-description-btnContainer .btnDemo{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: solid #0066cc 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    transition : 698ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.proyect-description-btnContainer .btnDemo:hover{

    transition : 698ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    background-color: lightblue;
    color: #0066cc;
    border: solid 1px #0066cc;
    }

.proyect-description__pic {
 
    height: auto;
}

.proyect-description__pic img {
    width: 100%;
    height: auto;
    
}


.contact {
    flex-direction: row;
    justify-content: center;
    background-color: #EAF2FD;
    padding: 64px;
    gap: 10px;

}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 64px 0px 0px;
    gap: 16px;
    width: 100%;
    max-width: 1136px;
}

.contact-img {
    background-image: url("../img/contact.jpeg");
    width: 464px;
    height: 593px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.contact-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 656px;
}

.contact-contain p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
}



.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 656px;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}
	.input {
		margin-top: 1.5rem;
	
}

.input-label {
	
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 16px;
}

.input-field {
	border: 0;
	
	background-color: #ffffff;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
	padding: 1.6rem 0;
}

.input-field:valid {
		outline: 0;
		border-bottom-color: #6658d3; 
}

.input-label:valid {
			color: #6658d3;;
			transform: translateY(-1.5rem);
}

.contact-btn {
    padding-top: 20px;
}


.btn-action{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    background-color: #0066CC;
    width: 100px;
    padding: 10px 30px;
    border: solid #0066cc 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    transition : 698ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-action:hover{
    transition : 698ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    background-color: lightblue;
    color: #0066cc;
    border: solid 1px #0066cc;
    }




    /* FOOTER */


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
}

.footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}